.about-section {
    height: 100vh;
}

h2{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: white;
}

.about-text {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}