/* h2 {
  font-family: "Pixelify sans", sans-serif;
  font-weight: 500;
  color: white;
} */

.about-text {
  color: black;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}
