.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 0vh;
  width: 100%;
  padding: 0;
}

.nature {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 50vw;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
}
