:root {
  --light-font-color: #2b2b2b;
  --light-background-color: #f5f5f5;
  --dark-font-color: #ffffff;
  --dark-background-color: #121212;
  --transparent-color: transparent;
}

/* Default (Light Mode) */
body {
  background-color: white;
  color: black; /* Default text color */
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark {
  background-color: #121212;
  color: white;
}

body.dark a {
  /* Dark mode navbar */
  color: white;
}

.logos {
  position: fixed;
  top: 0.75rem;
  left: 1rem;
  z-index: 1000;
}

body.dark .Navigation {
  background-color: var(--transparent-color);
}

body.dark a:hover {
  color: var(--light-accent-hover-color);
}

body.dark .resume-btn {
  background-color: var(--dark-background-color);
  position: fixed;
  top: 1.25rem;
  left: 4rem;
  color: var(--light-background-color);
  padding: 0.5rem 1rem;
  border: 2px solid var(--light-background-color);
  border-radius: 25px;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

body.dark .resume-btn:hover {
  background-color: var(--light-accent-hover-color);
}

.toggle-btn {
  position: fixed;
  top: 1rem;
  left: 12rem;
  z-index: 2000;
}
