:root {
  --light-font-color: #2b2b2b;
  --light-background-color: #f5f5f5;
  --dark-font-color: #ffffff;
  --dark-background-color: #3b3b3b;
}

/* Default (Light Mode) */
body {
  background-color: white;
  color: black; /* Default text color */
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark {
  background-color: #121212;
  color: white; /* Change text color for dark mode */
}

/* Optional: Navbar Styling */
.navbar {
  background-color: white; /* Light mode navbar */
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

body.dark .navbar {
  background-color: #1e1e1e; /* Dark mode navbar */
  color: white;
}

/* .ToggleScreen {
  position: fixed;
  top: 2rem;
  right: 1rem;
} */
