@import "tailwindcss";
@import "./styles/global.css";

@theme {
  --font-epilogue: "Epilogue", sans-serif;
  --font-display: "Satoshi", sans-serif;
  --font-pixel: "Pixelify Sans", sans-serif;
  --font-kola: "Kola", sans-serif;
  --font-telma: "Telma", cursive;
  --font-general: "General Sans", sans-serif;
  --font-aktura: "Aktura" serif;
  --font-new: "New Title", serif;
  --font-bonny: "Bonny", serif;
  --font-tabular: "Tabular", sans-serif;
  --font-courier: "Courier New", Courier, monospace;
  --font-gambarino: "Gambarino", serif;
  --font-inter: "Inter", sans-serif;
  --font-cinzel: "Cinzel Decorative", serif;

  --lightcolor: #dde2d6;
  --darkcolor: #1e1e1e;
  --light-accent-color: #2c2929;
  --accent-color: oklch(0.785 0.115 274.713);
}

:root {
  --light-bg-color: #eaece5;
  --dark-bg-color: #1e1e1e;
}

/* get rid of later */
form {
  padding: 0;
  display: none;
}

html {
  overflow-x: hidden; /* Optional: prevents horizontal scrolling */
}
* {
  margin: 0;
  box-sizing: border-box;
}

/* html {
  scroll-behavior: smooth;
} */

html,
body {
  padding: 0;
  margin: 0;
  min-height: 320px;
}

body {
  background-color: var(--light-bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.resumebtn:active {
  background-color: var(--accent-color);
}

/* NAV */

.entire-navbar {
  z-index: 1000;
}

.nav-links {
  position: fixed;
  top: 1rem;
  right: 1rem;
  gap: 1rem;
  font-size: 1rem;
  font-family: "Epilogue", sans-serif;
  transition: transform 0.3s ease-in-out;
}

.nav-links a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Start with zero width */
  height: 3px;
  background: rgb(100, 90, 92);
  transform: scaleX(0);
  transform-origin: bottom left; /* Set the transform origin for the left side */
  transition: width 0.3s ease-in-out; /* Transition width */
}

.nav-links a:hover::before {
  width: 100%; /* Expand the width on hover */
}
.nav-links a:hover {
  width: 100%; /* Expand the width on hover */
  color: var(--accent-color);
}
/* HERO */
.hero {
  font-family: "Epilogue", sans-serif;
  /* overflow: hidden; */
}

.title {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
/* ABOUT */

.About .rightcontainer {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.About .nav-links {
  color: white;
}

/* PROJECTS */

.Project-header {
  font-family: "Gambarino", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vw;
  color: var(--light-bg-color);
  letter-spacing: 2rem;
}

/* CONTACT */

/* FOOTER */

.Footer {
  background-color: var(--light-bg-color);
}
