:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  /* Light mode Colors */
  --light-font-color: #2b2b2b;
  --light-background-color: #f5f5f5;
  --light-accent-hover-color: #d6c5e0;
  /* Dark mode Colors */
  --dark-font-color: #ffffff;
  --dark-background-color: #3b3b3b;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Navigation {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-size: 1rem;
  overflow: hidden;
}

body a {
  font-size: 1em;
  font-weight: 500;
  text-decoration: inherit;
  border: 2px;
  color: var(--light-font-color);
}
a:hover {
  color: var(--light-accent-hover-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--light-background-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark {
  background-color: #121212;
  color: white; /* Change text color for dark mode */
}

body.dark a {
  /* Dark mode navbar */
  color: white;
}
body.dark .Navigation {
  border-bottom: solid 2px white;
}
.ToggleScreen {
  position: fixed;
  top: 2rem;
  right: 1rem;
}
