@import "tailwindcss";
@import "./styles/global.css";

@layer theme {
  .dark {
    --color-bgContrast: #66c8b6;
  }
}
@theme {
  --font-black: "Epilogue-Black", sans-serif;
  --font-display: "Satoshi", sans-serif;
  --font-pixel: "Pixelify Sans", sans-serif;
  --font-kola: "Kola", sans-serif;
  --font-temla: "Telma", cursive;
  --font-general:'General Sans', sans-serif;

}

/* :root {
  --light-bg-color: #dde2d6;
  --dark-bg-color: #1e1e1e;
} */

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff"),
    url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/Satoshi-Medium.woff") format("woff"),
    url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("../fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff"),
    url("../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("../fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BoldItalic.woff") format("woff"),
    url("../fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/Satoshi-Black.woff") format("woff"),
    url("../fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("../fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BlackItalic.woff") format("woff"),
    url("../fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

/* get rid of later */
form {
  padding: 0;
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 320px;
}

body {
  background-color: #dde2d6;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #1e1e1e;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark svg {
  fill: white;
}
body.dark #logos {
  fill: white;
}

.entire-navbar {
  z-index: 1000;
}

.nav-links {
  position: fixed;
  top: 1rem;
  right: 1rem;
  gap: 2rem;
  font-size: 1.25rem;
  font-family: "Pixelify Sans", sans-serif;
}

.Profile {
background-image: url("/src/assets/images/nature.jpeg");
width: 100vh;
}

/* .Project-header {
  font-family: "Telma", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17vw;
  color: transparent;
  -webkit-text-stroke: 5px black;
} */
